<div class="container container-first-time">
	<ul class="list-group">
		<li class="list-group-item"></li>
		<li class="list-group-item">
			<a href="#/first-time/signup">
				<button class="btn btn-default">Soy Nuevo</button>
			</a>
		</li>
		<li class="list-group-item">
			<a href="#/first-time/login">
				<button class="btn btn-default">Iniciar sesión</button>
			</a>
		</li>
	</ul>
</div>