<div class="container container-first-time">
  <ul class="list-group">
    <li class="list-group-item"></li>
    <li class="list-group-item">
      <a href="/#first-time/signup" class="btn btn-primary btn-lg">
        Soy Nuevo
      </a>
    </li>
    <li class="list-group-item">
      <a href="/#first-time/login" class="btn btn-primary btn-lg">
        Iniciar sesión
      </a>
    </li>
  </ul>
</div>