body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

input[type="range"] {
	width:100%;
}

.tab-selected {
	text-decoration: underline;
}

.emoticon {
	transform:rotateZ(90deg);
	ms-transform:rotateZ(90deg);
	-webkit-transform: rotateZ(90deg);
	text-align: center;
	font-weight: bolder;
}

/* 
 * Containers
**/
.container {
	-o-background-size:100% auto;
	-webkit-background-size:100% auto;
	-moz-background-size:100% auto;
	background-size:100% auto;
}
.container-first-time {
	background-image:url('images/fondo.png');
}
.container-register-merchant {
	
}
.list-group-item {
	border:none;
	background:none;
}

.profile-picture {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.big-icon {
	-ms-transform: scale(4,4); /* IE 9 */
	-webkit-transform: scale(4,4); /* Chrome, Safari, Opera */
	transform: scale(4,4);
}

.center-text {
	text-align: center;
}