<div class="container container-first-time">
	<ul class="list-group">
		<li class="list-group-item"></li>
		<li class="list-group-item">
			<img src="images/logo_corabastos.png" class="img-responsive"/>
		</li>

		<li class="list-group-item">
			<a href="#/register-buyer">
				<img src="images/boton_comprador.png" class="img-responsive"/>
			</a>
		</li>
		<li class="list-group-item">
			<a href="#/register-merchant">
				<img src="images/boton_comerciante.png" class="img-responsive"/>
			</a>
		</li>
	</ul>
</div>