<div class="container container-local-form">
	<ul class="list-group">
		<li class="list-group-item">
			<h1>Registro de local</h1>
		</li>
		<li class="list-group-item">
			<div class="form-group">
				<label>Número de local</label>
				<input type="number" class="form-control local-number" placeholder="Ingrese el número de local" val="{{localNumber}}"/>
			</div>
		</li>
		<li class="list-group-item">
			<label>Buscar productos</label>
			<input type="text" class="form-control find-products" placeholder="Agregar producto" val="{{findProductsQuery}}"/>
		</li>
	</ul>
	<div class="container-fluid container-result">
	</div>
</div>