<div class="container container-local-form background2">
	<ul class="list-group">
		<li class="list-group-item">
			<h1>Registro de local</h1>
			<button type="button" class="btn btn-success button-save">Guardar</button>
		</li>
		<li class="list-group-item">
			<label>Buscar Local</label>
			<div class="input-group">
		    <input type="text" class="form-control input-find-local" placeholder="Ingrese el número de local">
		    <span class="input-group-btn">
		    <button class="btn btn-default button-find-local" type="button">Go!</button>
		    </span>
		    </div><!-- /input-group -->
			<div class="container-fluid container-locals">
			</div>
		</li>
		<li class="list-group-item">
			<label>Buscar productos</label>
			<input type="text" class="form-control find-products" placeholder="Agregar producto" val="{{findProductsQuery}}"/>
		</li>
	</ul>
	<div class="container-fluid container-result">
	</div>
</div>