<div class="container background2">
	<ul class="list-group">
		<li class="list-group-item">
			<img src="images/bienvenida.png" class="img-responsive">
		</li>
		<li class="list-group-item">
			<div class="container background3 super-container">
				<div class="cosa row">
					<img src="images/tipos.png" class="img-responsive"/>
				</div>
				<div class="cosa row">
					<div class="col-xs-4">
						XX
					</div>
					<div class="col-xs-4">
						YY
					</div>
					<div class="col-xs-4">
						ZZ
					</div>
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="center-text">
				<label>Agregar Local</label>
				<br/>
				<br/>
				<a href="#/locals/new" class="">
				<span class="glyphicon glyphicon-plus-sign big-icon"></span>
				</a>
			</div>
		</li>
	</ul>
</div>