<div class="container background2">
	<ul class="list-group">
		<li class="list-group-item">
			<img src="images/bienvenida.png" class="img-responsive">
		</li>
		<li class="list-group-item">
			<img src="images/destacadosFull.png" class="img-responsive">
		</li>
		<li class="list-group-item">
			<img src="images/promocionFull.png" class="img-responsive">
		</li>
		<li class="list-group-item">
			<h2>Tubérculos</h2>
			<img src="images/papa.png" class="img-responsive">
		</li>
	</ul>
</div>