<div class="bar bar-header bar-calm tabs">
  <a class="tab-item tab-selected" data-name="home" href="#/">
    <i class="icon ion-compose"> Log</i>
  </a>
  <a class="tab-item" data-name="stats" href="#/stats">
    <i class="icon ion-stats-bars"> Stats</i>
  </a>
</div>