<div class="container background2">
	<ul class="list-group">
		<li class="list-group-item">
			<img src="{{profileImageUrl}}" class="img-circle profile-picture">
		</li>
		<li class="list-group-item">
			<div class="center-text">
				<h2>¡Bienvenido {{firstName}} {{lastName}}!</h2>
			</div>
		</li>
		<li class="list-group-item">
			<div class="center-text">
				<h3>Muy pronto podras disfrutar de AppBastésete :D</h3>
			</div>
		</li>
		<li class="list-group-item center-text">
			<button type="button" class="btn btn-success button-demo">Demo</button>
		</li>
		<li class="list-group-item center-text">
			<button type="button" class="btn btn-danger button-logout">Cambiar de usuario</button>
		</li>
	</ul>
</div>