<div class="container container-register-merchant background2">
	<ul class="list-group">
		<li class="list-group-item">
			<button type="button" class="btn btn-success button-save">Guardar</button>
		</li>
		<li class="list-group-item">
			<img src="images/comerciante.png" class="img-circle profile-picture">
		</li>
		<li class="list-group-item">
			<form role="form">
				<div class="form-group">
					<label>Nombre de usuario</label>
					<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Ingrese su nombre de Usuario">
				</div>
			</form>
		</li>
		<li class="list-group-item">
			<div class="center-text">
				<label>Agregar Local</label>
				<br/>
				<br/>
				<a href="#/locals/new" class="">
				<span class="glyphicon glyphicon-plus-sign big-icon"></span>
				</a>
			</div>
		</li>
		{{#each locals}}
		<li class="list-group-item center-text">
			<a href="#/locals/{{id}}" class="">
			<h1>Local: {{id}}</h1>
			</a>
		</li>
		{{/each}}
	</ul>
</div>