<table class="table table-striped">
      <thead>
        <tr>
          <th>numero</th>
          <th>codigolocal</th>
          <th>aream2</th>
          <th>comercializacion</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{numero}}
          </td>
          <td>
            {{codigolocal}}
          </td>
          <td>
            {{aream2}}
          </td>
          <td>
            {{comercializacion}}
          </td>
        </tr>
      </tbody>
    </table>